.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  gap: 16px;
}
.error-container {
  text-align: center;
  padding: 40px;
}

.poll-container {
  display: flex;
  flex-direction: row; 
  gap: 32px;
  padding: 24px;
  max-width: 100px;
  margin: auto;
 
}


.vote-section {
  flex: 1; 
}


.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  max-width: 100%; 
}

.options button {
  width: 100%;
}


.chart-container {
  flex: 2; 
  min-width: 0; 
  font-size: larger;
  font-weight: 500;
  font-optical-sizing: auto;
}


@media (max-width: 768px) {
  .poll-container {
    flex-direction: column; 
  }
}